{% extends './base.html' %}

{% block title %}Home{% endblock %}
{% block customCSS %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> -->
{% endblock %}

{% block header %}
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Arybet</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cotizaciones">Cotizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ordenes de trabajo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Tabla de Clientes</h1>
        </div>
        <div class="col my-auto">
            <a href="{{ url_for('mostrar_formulario_cliente') }}" class="btn btn-primary">Ingresar nuevo cliente</a>
        </div>
    </div>

    {{ pagination.info}}
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th>Razón Social</th>
                    <th>RUT</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Persona de Contacto</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.razon_social }}</td>
                    <td>{{ cliente.rut }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.persona_de_contacto }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {{pagination.links}}
</div>

<footer> </footer>
{% endblock %}