{% extends './base.html' %}
{% block title %}Home{% endblock %}
{% block customCSS %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> -->
{% endblock %}


{% block header %}
<nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Arybet</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarsExample01" style="">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/cotizaciones">Cotizaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ordenes de trabajo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}

{% block body %}
<div class="container">
    <!-- Botón para agregar cliente -->
    <a href="{{ url_for('mostrar_formulario_cliente') }}" class="btn btn-primary">Agregar Cotizacion</a>
    {{ pagination.info}}
    <div class="table-responsive-sm">
        <table class="table">
            <h1>Lista de Cotizaciones</h1>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Fecha de Entrega</th>
                        <th>Cliente ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cotizacion in cotizaciones %}
                    <tr>
                        <td>{{ cotizacion.id }}</td>
                        <td>{{ cotizacion.fecha }}</td>
                        <td>{{ cotizacion.fecha_entrega }}</td>
                        <td>{{ cotizacion.cliente_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {{pagination.links}}
</div>
{% endblock %}